.btn-flip {
     opacity: 1;
     outline: 0;
     color: var(--white-color);
     line-height: 40px;
     position: relative;
     text-align: center;
     letter-spacing: 1px;
     display: inline-block;
     text-decoration: none;
     font-family: var(--font-family);
     text-transform: uppercase;
     perspective: 1000px;
     border-radius: var(--border-radius);
     background: var(--primary-color);
     font-weight: 700;
     box-shadow: var(--shadow);
     transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.btn-flip:hover::after {
     opacity: 1;
     transform: translateY(0) rotateX(0);
}

.btn-flip:hover::before {
     opacity: 0;
     transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
     top: 0;
     left: 0;
     opacity: 0;
     width: 100%;
     color: var(--primary-color-dark);
     display: block;
     transition: all 0.3s ease;
     position: absolute;
     background: var(--white-color);
     content: attr(data-back);
     transform: translateY(-50%) rotateX(90deg);
     border-radius: var(--border-radius);
}

.btn-flip::before {
     top: 0;
     left: 0;
     opacity: 1;
     color: var(--white-color);
     display: block;
     padding: 0 30px;
     line-height: 40px;
     transition: all 0.3s ease;
     position: relative;
     background: var(--primary-color);
     content: attr(data-front);
     transform: translateY(0) rotateX(0);
     border-radius: var(--border-radius);
}

@media (max-width: 600px) {
     .btn-flip {
          font-size: 0.9rem;
          padding: 0 20px;
          line-height: 35px;
     }

     .button-container {
          flex-direction: column;
          align-items: center;
     }
}