.title-container {
     display: flex;
     align-items: center;
     padding-left: 5%;
     padding-right: 5%;
}

.text {
     font-size: 2.5rem;
     color: #fff;
}

.highlighted-text {
     color: #61dafb;
}

.divider {
     padding-left: 60px;
}

@media (max-width: 1300px) {
     .divider {
          display: none;
     }
}