.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 5%;
     margin-top: 10px;
     background-color: transparent;
     position: relative;
}

.navbar-logo {
     font-size: 2rem;
     color: var(--white-color);
}

.navbar-logo .code-symbol {
     color: var(--primary-color);
}

.navbar-menu {
     display: flex;
     gap: 2rem;
}

.navbar-menu ul {
     list-style: none;
     display: flex;
     gap: 1.8rem;
     margin: 0;
     padding: 0;
}

.navbar-menu ul li {
     display: flex;
}

.navbar-menu ul li .link {
     text-decoration: none;
     color: var(--white-color);
     font-size: 1.2rem;
     transition: color 0.3s ease;
     cursor: pointer;
}

.navbar-menu ul li .link:hover {
     color: var(--primary-color);
}

.navbar-menu-icon {
     display: none;
     font-size: 1.5rem;
     cursor: pointer;
}

@media (max-width: 768px) {
     .navbar-menu {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: var(--header-background);
          z-index: 100;
          padding: 1rem 0;
          align-items: center;
     }

     .navbar-menu.active {
          display: flex;
     }

     .navbar-menu ul {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
     }

     .navbar-menu ul li .link {
          font-size: 1.5rem;
     }

     .navbar-menu-icon {
          display: block;
     }
}